<!--
<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="assets/stylesheets/welcome.scss">
  <title>Matt Lowen's Personal Webpage</title>
</head>
<body>
<div class="boxed1">
<h1> My Personal Webpage </h1>
</div>
  <div class="left">
  <div class="boxed">
    <h3>
      About me
    </h3>
    <p>Hello friends, my name is Matt Lowen and I am a rising third year (junior) student from Arlington, Virginia. I study Systems and Information Engineering at UVA and I am currently in Cape Town, South Africa doing the iXperience program.  </p>
    <div class="jobs">
      <div class="job">
        <h3>iExperience</h3>
        <p>
          The Bru serves as the official generic user for the iExperience code base.
        </p>
      </div>
      <div class="job">
        <h3>Art and Surfing</h3>
        <p>
          A Renaissance man of the past and future, the Bru makes a living by
          painting...while surfing. He specializes in water color.
        </p>
      </div>
    </div>
  </div>
  </div>
  </div>
  <div class="right">
    <div class="boxed">
    <h1>The Bru at Play</h1>
    <p>...and plays hard by night (and also on weekends!)</p>
    <div class="projects">
      <div class="project">
        <h3>Shark Diving</h3>
        <p>
          I LOVE SHARKS!
          (INSERT PIC WITH SHARKS HERE)
        </p>
      </div>
    </div>
  </div>
  </div>
</body>
</html>

-->

<!DOCTYPE html>
<head>
  <title>Matt Lowen's Personal Website</title>
</head>

<body>
<link rel="stylesheet" type="text/css" href="assets/stylesheets/welcome.scss">
  <h1>Welcome!</h1>
  <img src="http://i.imgur.com/w1FMsRc.jpg?1">
  <br>
  <br>
  <div class="boxed1">
  <a href="https://www.facebook.com/mattlowen94">Facebook</a>
  <a href="http://128.143.6.188/tlp2017/mcl7zz/">Workpage</a>
  </div>
   <br>
    <br>
  <div class="boxed">
  <ul>
  <b>
 <li> Hey guys! My name is Matt Lowen and I am a rising third year student from Arlington, Virginia. I study Systems and Information Engineering at the University of Virginia.
 </li>
 <br>
 <li>
 I am very extremely excited to start the iXperience program because I would love to further my skills as a developer. I am interested in starting my own business at school and being able to build a professional website would be really helpful.
 </li>
 <br>
 <li>
 Anyone I ask says Cape Town is one of the most beautiful cities in the world and I cannot wait to explore it. I look forward to the excursions but also the free time to walk around the city. 
 </li>
 <br>
 <li>
 I am also an avid sports fan, especially for my local Washington DC teams. Go Nats. #dcRising
 </li>
 </b>
  <ul>
 </div>
</body> 